.mario {
    width: 90px;
    height: 90px;
    position: absolute;
    bottom: 65px;
    left: 40px;
    z-index: 10;
    background-image: url("./loading_mario.gif");
    background-size: 150px 150px;
    background-repeat: no-repeat;
    background-position: -20px -20px; 
}

.ground {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 71px;
    background-image: url("./mario_ground.png");
    z-index: 9;
    overflow: hidden;
}

.canvas {
    position: relative;
    height: 700px;
    background-image: url("./background.webp");
    background-size: cover;
    overflow: hidden;
}

.coin {
    display: block;
    position: absolute;
    width: 90px;
    height: 90px;
    background-size: 90px 90px;
    background-image: url("coin.gif");
}

.counter {
    font-size: 40px;
    color: white;
    text-align: right;
    padding: 10px;
}

body {
    margin: 0;
}